﻿@using TravelApp.Data.Enum
@model Trip

<hr>
<h1>Are you sure want to delete this trip?</h1>
<hr>
<h4>General Information</h4>
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripFee">Trip Fee</label>
        <input asp-for="TripFee" class="form-control" placeholder="Trip Fee">
        <span asp-validation-for="TripFee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrencyCategory">Currency</label>
        <select asp-for="CurrencyCategory" asp-items="@Html.GetEnumSelectList<CurrencyCategory>()" class="form-control form-control-lg">
            <option selected="selected" value="">--Select--</option>
        </select>
        <span asp-validation-for="CurrencyCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripCategory">Trip Category</label>
        <select asp-for="TripCategory" asp-items="@Html.GetEnumSelectList<TripCategory>()" class="form-control">
            <option selected="selected" value="">--Select--</option>
        </select>
        <span asp-validation-for="TripCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>

    </div>
    <!-- Departure Section -->
    <hr>
    <h4>Departure Information</h4>
    <div class="form-group">
        <label asp-for="TripAddress.DepartureCountry">Country</label>
        <input asp-for="TripAddress.DepartureCountry" class="form-control" placeholder="Departure Country">
        <span asp-validation-for="TripAddress.DepartureCountry" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripAddress.DepartureCity">City</label>
        <input asp-for="TripAddress.DepartureCity" class="form-control" placeholder="Departure City">
        <span asp-validation-for="TripAddress.DepartureCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripAddress.DepartureStreet">Street</label>
        <input asp-for="TripAddress.DepartureStreet" class="form-control" placeholder="Departure Street">
        <span asp-validation-for="TripAddress.DepartureStreet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripAddress.DepartureTime">Time</label>
        <input asp-for="TripAddress.DepartureTime" type="datetime-local" class="form-control" placeholder="Departure Time">
        <span asp-validation-for="TripAddress.DepartureTime" class="text-danger"></span>
    </div>
    <!-- End of Departure Section -->
    <!-- Arrival Section -->
    <hr>
    <h4>Arrival Information</h4>
    <div class="form-group">
        <label asp-for="TripAddress.ArrivalCountry">Country</label>
        <input asp-for="TripAddress.ArrivalCountry" class="form-control" placeholder="Arrival Country">
        <span asp-validation-for="TripAddress.ArrivalCountry" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripAddress.ArrivalCity">City</label>
        <input asp-for="TripAddress.ArrivalCity" class="form-control" placeholder="Arrival City">
        <span asp-validation-for="TripAddress.ArrivalCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripAddress.ArrivalStreet">Street</label>
        <input asp-for="TripAddress.ArrivalStreet" class="form-control" placeholder="Arrival Street">
        <span asp-validation-for="TripAddress.ArrivalStreet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TripAddress.ArrivalTime">Time</label>
        <input asp-for="TripAddress.ArrivalTime" type="datetime-local" class="form-control" placeholder="Arrival Time">
        <span asp-validation-for="TripAddress.ArrivalTime" class="text-danger"></span>
    </div>
    <!-- End of Arrival Section -->
</form>
<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
    </form>
</div>